---
import SignUpStep from '@components/SignUpStep.astro';
---

<div class="sign-up-steps">
  <SignUpStep
    stepNumber={1}
    title="Sign Up"
    text="Participation fee $20"
    linesLeft={false}
    linesRight={true}
  />
  <SignUpStep
    stepNumber={2}
    title="Share"
    text="One additional entry for every referral"
    linesLeft={true}
    linesRight={true}
  />
  <SignUpStep
    stepNumber={3}
    title="Workout"
    text="Published April 14, deadline April 24"
    linesLeft={true}
    linesRight={true}
  />
  <SignUpStep
    stepNumber={4}
    title="Win"
    text="Lucky Winner determined by draw"
    linesLeft={true}
    linesRight={false}
  />
</div>

<style>
  .sign-up-steps {
    display: flex;
    flex-direction: row;
    margin-bottom: calc(var(--margin) * 2);
  }

  @media only screen and (max-width: 970px) {
    .sign-up-steps {
      flex-direction: column;
    }
  }
</style>
