---
import SignUpStep from './SignUpStep.astro';
---

<div class="sign-up-steps">
  <SignUpStep
    stepNumber={1}
    title="Sign Up"
    text="Sign up for $20 to win our grand prize"
    linesLeft={true}
    linesRight={false}
  />
  <SignUpStep
    stepNumber={2}
    title="Share"
    text="One additional entry for every referral"
    linesLeft={true}
    linesRight={true}
  />
  <SignUpStep
    stepNumber={3}
    title="Workout"
    text="Workout published April 17"
    linesLeft={true}
    linesRight={true}
  />
  <SignUpStep
    stepNumber={4}
    title="Win"
    text="Complete the workout before April 23"
    linesLeft={false}
    linesRight={true}
  />
</div>

<style>
  .sign-up-steps {
    display: flex;
    flex-direction: row;
    column-gap: 116px;
  }
</style>
