---
import SignUpStepDottedLine from '@components/SignUpStepDottedLine.astro';

export interface Props {
  stepNumber: number;
  title: string;
  text: string;
  linesLeft: boolean;
  linesRight: boolean;
}

const { stepNumber, title, text, linesLeft, linesRight } = Astro.props;
---

<div class="sign-up-step">
  <div class="step-number-container">
    <SignUpStepDottedLine visible={linesLeft} />
    <div class="step-number">
      {stepNumber}
    </div>
    <SignUpStepDottedLine visible={linesRight} />
  </div>
  <div class="step-body">
    <h3>{title}</h3>
    <p class="step-text">
      {text}
    </p>
  </div>
</div>

<style>
  .sign-up-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 236px;
  }

  .step-number-container {
    display: flex;
    align-items: center;
    margin-bottom: var(--margin);
  }

  .step-number {
    height: calc(var(--base-font-size) * 3);
    width: calc(var(--base-font-size) * 3);
    border-radius: 50%;
    color: white;
    background-color: #541736;
    font-family: 'Satoshi-Bold';
    font-size: var(--base-font-size);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    text-align: center;
  }

  .step-text {
    font-size: var(--base-font-size);
    font-weight: 500;
    font-family: 'Satoshi-Regular';
    color: #767676;
    text-align: center;
    margin: 0;
    width: calc(var(--base-font-size) * 10);
  }

  @media only screen and (max-width: 970px) {
    .sign-up-step {
      flex-direction: row;
    }

    .step-number-container {
      flex-direction: column;
      margin-bottom: 0px;
    }

    .step-number {
    }

    .step-body {
    margin-left: var(--margin);
    }

    h3 {
      text-align: left;
      margin-bottom: 4px;
    }

    .step-text {
      text-align: left;
    }
  }
</style>
